<div class="container container-fluid1 ">
  <div class="row">
    <div class=" col-xs-12" id="mobileHeader">
      <div class=" col-xs-6  topnav">
        <a href="javascript:void(0);" class="icon">
          <i class="glyphicon glyphicon-menu-hamburger" (click)="myFunction()" id="icon"></i>
        </a>
      </div>
      <div class=" col-xs-6 topnav">
        <a href="javascript:void(0);" class="icon1">
          <i class="glyphicon glyphicon-menu-hamburger" (click)=" myFunctionFeedBack()" id="icon"></i>
        </a>
      </div>
    </div>

    <!-- <div class="col-sm-2 sidebarleft divHight2" id="myTopnav">
      <div id="overlay">
        <div id="sidebar">
          <ul style="list-style-type:none;">
            <li id="sidebarleftOpt"><a (click)="ctreate()" [ngClass]="'pointer'">
                <span class="glyphicon glyphicon-home"></span>
                Create Task</a></li>
            <li id="sidebarleftOpt"><a (click)="getAllTasks()" data-toggle="collapse" data-target="#demo"
                [ngClass]="'pointer'">
                <span class="glyphicon glyphicon-magnet"></span>
                Update Task</a>
              <div id="demo" class="collapse">
                <ul style="list-style-type:none;" *ngFor="let task of taskList">
                  <li (click)="updateTask(task.t_Name)" [ngClass]="'pointer'">{{task.t_Name}}</li>
                </ul>
              </div>
            </li>
            <li id="sidebarleftOpt"><a (click)="DisplayTask()">
                <span class="glyphicon glyphicon-credit-card"></span>
                Display Task</a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="col-sm-12">
      <div id="content2 ">
        <div *ngIf="!isDisplayTask" class="container-fluid   divHight">
          <div class="headertext">
            <h4>Create Task</h4>
          </div>
          <div class="midDiv">
            <form [formGroup]="form" id="form">
              <div class="inputFild">
                <div class="form-group form-groupfirstRow">
                  <div class="col-md-6 col-md-6  col-xs-6 col-sm-6 pad">
                    <label class="control-label  label-name" for="template">Task Name:</label>
                  </div>

                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <input type="text" formControlName="t_Name" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.t_Name.errors }" />
                    <div *ngIf=" f.t_Name.touched && f.t_Name.errors" class="invalid-feedback">
                      <div *ngIf="f.t_Name.errors.required" class="error-msg">First Name is required</div>
                      <div *ngIf="f.t_Name.errors.pattern">Only alphabets allowed</div>
                    </div>

                  </div>
                </div>

                <div class="form-group " id="textarea">
                  <div class="col-md-6 col-md-6  col-xs-6 col-sm-6 pad">
                    <label class="control-label  label-name" for="template">Long Description:</label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <textarea placeholder="please enter the task comment......" formControlName="t_LongDescription"
                      cols="10" type="text" id="t_LongDescription" name="t_LongDescription" required></textarea>
                    <div *ngIf=" f.t_LongDescription.touched && f.t_LongDescription.errors" class="invalid-feedback">
                      <div *ngIf="f.t_LongDescription.errors.required" class="error-msg">First Name is required</div>
                      <!-- <div *ngIf="f.t_LongDescription.errors.pattern">Only alphabets allowed</div> -->
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-md-6  col-xs-6 col-sm-6 pad">
                    <label class="control-label  label-name" for="template">Task Type:</label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <select type="t_type" class="form-control" id="t_type" formControlName="t_type" name="Priority"
                      required>
                      <option>Type 1</option>
                      <option>Type 2</option>
                      <option>Type 3</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-xs-6 col-sm-6 pad">
                    <label class="control-label  label-name" for="template">Task Category</label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <input type="text" id="t_Category" formControlName="t_Category" class="form-control"
                      name="t_Category">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-xs-6 col-sm-6 pad ">
                    <label class="control-label  label-name" for="template">Start Date:</label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <input type="Date" id="t_SDate" formControlName="t_SDate" class="form-control" name="t_SDate">
                  </div>

                </div>
                <div class="form-group">
                  <div class="col-md-6 col-xs-6 col-sm-6 pad">
                    <label class="control-label  label-name" for="template">End Date</label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <input type="Date" id="t_EDate" formControlName="t_EDate" class="form-control" name="t_EDate">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-6 col-xs-6 col-sm-6 pad">
                    <label class="control-label  label-name" for="template">Estimeted Hr</label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <input type="number" id="t_EstimetedHr" formControlName="t_EstimetedHr" class="form-control"
                      name="t_EstimetedHr">
                    <div *ngIf=" f.t_EstimetedHr.touched && f.t_EstimetedHr.errors" class="invalid-feedback">
                      <div *ngIf="f.t_EstimetedHr.errors.required" class="error-msg">Estimeted Hr is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-xs-6 col-sm-6 pad">
                    <label class="control-label  label-name" for="template">Task Priority:</label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <select type="t_Priority" class="form-control" id="t_Priority" formControlName="t_Priority"
                      name="Priority" required>
                      <option selected="true">Very High</option>
                      <option>High</option>
                      <option>Medium</option>
                      <option>Low</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-xs-6 col-sm-2 pad">
                    <label class="control-label  label-name" for="template">Task Status</label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-4">
                    <select type="text" class="form-control" id="t_Status" formControlName="t_Status" name="t_Status"
                      required>>
                      <option value="Open">Open</option>
                      <option value="InProgress">InProgress</option>
                      <option value="Completed">Completed</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-xs-6 col-sm-6 pad">
                    <label class="control-label  label-name" for="template">Parent Task Name:</label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <select type="text" class="form-control" name="t_parentId" id="t_parentId"
                      formControlName="t_parentId" required>>
                      <option value="project1">project1</option>
                      <option value="project2">project2</option>
                      <option value="project3">project3</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-xs-6 col-sm-6 pad">
                    <label class="control-label  label-name" for="template">Project Name</label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <select type="text" class="form-control" name="projectId" id="projectId" formControlName="projectId"
                      required>>
                      <option value="project1">project1</option>
                      <option value="project2">project2</option>
                      <option value="project3">project3</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-6 col-xs-6 col-sm-6 pad">
                    <label class="control-label  label-name" for="template">Assign To</label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <input type="text" id="t_Assign" formControlName="t_Assign" class="form-control" name="t_Assign">
                    <div *ngIf=" f.t_Assign.touched && f.t_Assign.errors" class="invalid-feedback">
                      <div *ngIf="f.t_Assign.errors.required" class="error-msg">Assign Tois required</div>
                      <div *ngIf="f.t_Assign.errors.pattern">Only alphabets allowed</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group commentBox">
                <div class="uploadBox">
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <label class="control-label  label-name" for="template"><b>Upload File</b></label>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 ">
                    <div>
                      <input id="file" (change)="modo($event)" type="file" title="Browse Document"
                        name="documentAttechments" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12 attechmentShow">
                  <div class="attechment" *ngFor="let attechment of atttechments; let i=index">{{attechment.value}}
                    <span (click)="remove(i)" id="cross_icon" class="glyphicon glyphicon-remove"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-11 col-xs-12 col-sm-12">
                <button (click)="addTask()" type="button" class="btn btn-default pull-right btn-btn">Submit</button>
              </div>
            </form>
          </div>
          <!-- <div class="col-md-11 col-xs-12 col-sm-12">
                  <button (click)="addTask()" type="button" class="btn btn-default pull-right btn-btn">Submit</button>
                </div> -->
        </div>
        <div *ngIf="isDisplayTask" class="DishplayTask">
          <div class="headertext">
            <h4>Display Task</h4>
          </div>
          <div *ngFor="let task of taskList ">
            <div id="card" class="col-sm-5" [ngClass]="task.t_Priority">
              <div class="card-header " style="height: 27px;">
                <div class="flude-container ">
                  <div class="row ">
                    <div class="col-sm-4  col-xs-4" style="padding :0px; text-align: left">Priority :{{task.t_Priority}}
                    </div>
                    <div class="col-sm-4 col-xs-4" style="padding :0px ; text-align: center">{{task.t_Name}}</div>
                    <div class="col-sm-4 col-xs-4" style="padding :0px ;  text-align: right">Status : {{task.t_Status}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body" style="height: 82px;">
                <div class="row">
                  <div class="col-sm-4 col-xs-4" style="padding :0px"></div>
                  <div class="col-sm-4 col-xs-4" style="padding :0px; text-align: center"></div>
                  <div class="col-sm-4 col-xs-4" style="padding :0px ; text-align:right">From -
                    {{task.t_SDate | date: 'dd/MM/yyyy'}} To -{{task.t_EDate | date: 'dd/MM/yyyy'}}</div>

                </div>
              </div>
              <div class="card-footer" style="height: 27px;">

              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
    <!-- <div class="col-sm-3 right-sidebar" id="Feed">
      <div id="overlay1">
        <div id="sidebar1">
          Feed Updates
        </div>
      </div> 


    </div>-->
  </div>
</div>