button {
  background: rgba(65, 19, 230, 0.96);
  width: 69px;
  border-radius: 16px;
}
.divHight {
  height: auto;
  background: white;
  margin-top: 26px;
}
.right-sidebar {
  background: white;
  width: 284px;
}
ul {
  background: white;
}

li {
  padding-top: 10px;
  height: auto;
}
a {
  text-decoration: none;
}
.row {
  padding-top: 6px;
}
label {
  font-weight: 100;
}
input {
  font-weight: 400;
  transition-duration: 334ms;
  transition-property: border-color, box-shadow;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 0 10px;
  width: 100%;
  outline: 0;
  height: 32px;
  box-sizing: border-box;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.9);
}
textarea {
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: transparent;
}
select {
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: transparent;
}
.container1 {
  height: 118px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: transparent;
}
.topnav .icon {
  display: none;
}
.topnav .icon1 {
  display: none;
}
.docomentAttech {
  background: red;
  height: 62px;
  border-radius: 24px;
}
#form {
  background-color: red !important;
}

@media screen and (max-width: 600px) {
  .topnav {
    background: black;
    margin-top: -5px;
  }
  .sidebarleft {
    display: none !important;
    padding: 0px;
  }
  .sidebarleftA {
    display: none !important;
  }
  .sidebarleftB {
    display: block !important;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav a.icon1 {
    float: right;
    display: block;
  }

  .right-sidebar {
    width: 81px;
    height: 224px;
    display: none;
  }
  .col-xs-2 {
    width: 16.666667%;
    margin: 0px;
    padding: 0px;
  }
  ul {
    padding-left: 1px;
    font-size: 12px;
  }

  .glyphicon-menu-hamburger {
    font-size: 25px;
  }
  #myTopnav {
    position: absolute;
    z-index: 2;
    width: 100px;
    margin-top: 28px;
  }
  #Feed {
    position: absolute;
    z-index: 2;
    width: 100px;
    margin-top: 28px;
    margin-left: 311px;
    font-size: 11px;
    margin-top: -533px;
  }
  .col-sm-3 right-sidebar {
    display: none;
  }
  .right-sidebarB {
    background: white;
    height: 200px;
    width: 284px;
  }
}
