
<div class="container-fluid container-fluid1 ">
        <div class="row">
    <div ng-app="" ng-init="names=['task-0','Hege','Kai']">
        
        <div class="col-sm-6" id="project">
            <h2>project list</h2>
            <p>Task list:</p>
            <button class="collapsible" (click)="task()">Task1</button>
            <div class="content">
                <div *ngFor="let item of names" id="proj">
                    <div class="col-sm-5 A">
                            <button class="collapsible"(click)="task()">{{item}}</button>
                         <label>{{item}}</label> -->
                        <div *ngFor="let item of subtask" class="content">
                             <div class="col-sm-5 A" *ngFor="let item of subtask" id="p1">
                            <label> name :{{item.name}}</label>
                                <label> StartDate :{{item.StartDate}}</label>
                                <label> EndDate:{{item.EndDate}}</label>
                                <label> projname:{{item.projectname}}</label>
                                <label> status:{{item.status}}</label>
                            </div>
                        </div> 

                    </div>
                </div>
                <div class="content">

                </div>
            </div>
            <button class="collapsible" (click)="task()">Task2</button>
            <div class="content">

                <div *ngFor="let item of names">
                    <div class="col-sm-5 A">
                            <button class="collapsible"(click)="task()">{{item}}</button>
                        <label>{{item}}</label>
                        <div *ngFor="let item of sub" class="content">
                            <div class="col-sm-5 A" id="p2">
                                <label> StartDate :{{item.StartDate}}</label>
                                <label> EndDate:{{item.EndDate}}</label>
                                <label> projname:{{item.projectname}}</label>
                                <label> status:{{item.status}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">

                </div>
            </div>
            <button class="collapsible" (click)="task()">Task3</button>
            <div class="content">

                <div *ngFor="let item of names">
                    <div class="col-sm-5 A">
                            <button class="collapsible"(click)="task()">{{item}}</button>
                         <label>{{item}}</label> -->
                         <div *ngFor="let item of name" class="content">
                            <div class="col-sm-5 A" id="p3">
                                <label> StartDate :{{item.StartDate}}</label>
                                <label> EndDate:{{item.EndDate}}</label>
                                <label> projname:{{item.projectname}}</label>
                                <label> status:{{item.status}}</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="content">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 right-sidebar" id="Feed">
            Feed Updates
          </div>
        </div>
      </div>
