<!-- <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark"> -->
<!-- <div class="container"> -->
<!-- <div class="mb-0">
        <img src="/assets/images/ravi.jpg" alt="Italian Trulli">
      </div> -->
<!-- <div class="d-flex flex-column flex-wrap" id="navbarCollapse">
       
            <a class="navbar-text ml-auto py-0 px-lg-2" href="https://mantravat.com/">Mantravat Infotech LLP</a>
      
          <ul class="navbar-nav mb-auto mt-0 ml-auto">
              <li class="nav-item active">
                  <a class="nav-link py-0" href="#">Task</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link py-0" href="#">Leave</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link py-0" href="#">timsheet</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link py-0" href="#">Hr/Mang</a>
              </li>
          </ul>
      </div> -->
<!-- </div> -->
<!-- </nav> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-sm-3">
            <button class="dropbtn">WORK</button>
        </div>
        <div class="col-sm-3 dropdown">
            <button class="dropbtn">LEAVE</button>
            <div class="dropdown-content">
                <a href="#">Apply Leave</a>
                <a href="#">Leave History</a>
                <a href="#">Leave Status</a>
            </div>
        </div>
        <div class="col-sm-3">
            <button class="dropbtn">MANU</button>
        </div>
        <div class="col-sm-3">
            <button class="dropbtn">PEOPLE HUB</button>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6 comPart">
            <app-leave></app-leave>
        </div>
        <div class="col-sm-3 proPart">
            <div class="container">
                <div class="col-sm-12 A"></div>
                <div class="col-sm-12 A"></div>
                <div class="col-sm-12 A"></div>

            </div>

        </div>
    </div>
</div> -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-12">
                <img src="/assets/images/MantraLogo.jpg" alt="Italian Trulli">
                <label>Mantravat Infotech LLp</label>
            </div>
        </div>
        <div class="col-sm-6  col-sm-offset-1">
            <input type="search" placeholder="Search.." name="search">
            <button type="button">
                Search
            </button>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <label>ravindra lodhi</label>
            <span><img src="/assets/images/ravi.jpg" alt="Italian Trulli"></span>
        </div>
        <div class="col-sm-2 part3 firstBlock" style="list-style-type:none;background-color: #ddd;">
            <ul style="list-style-type:none;">
                <li><b>Ravindra Lodhi</b>
                    <ul style="list-style-type:none;">
                        <li><a href="#">Me</a></li>
                        <li><a href="#">addOpt1</a></li>
                        <li><a href="#">addOpt2</a></li>
                        <li><a href="#">addOpt3</a></li>
                    </ul>
                </li>
            </ul>
            <ul style="list-style-type:none;">
                <li><b>Task</b>
                    <ul style="list-style-type:none;">
                        <li><a href="#">TaskOpt0</a></li>
                        <li><a href="#">TaskOpt1</a></li>
                        <li><a href="#">TaskOpt2</a></li>
                        <li><a href="#">TaskOpt3</a></li>
                    </ul>
                </li>
            </ul>


            <ul style="list-style-type:none;">
                <li><b>Leave</b>
                    <ul style="list-style-type:none;">
                        <li><a href="#">Apply Leave</a></li>
                        <li><a href="#">Leave History</a></li>
                    </ul>
                </li>
            </ul>

            <ul style="list-style-type:none;">
                <li><b>TimeSheet</b>
                    <ul style="list-style-type:none;">
                        <li><a href="#">TimeSheetOpt</a></li>
                        <li><a href="#">TimeSheetOpt1</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-6  part3 firstBlock" style=" background-color: #ddd;"></div>
         <div class="col-sm-4  part3 firstBlock" style=" background-color: #ddd;">
                <div class="container">
                        <div class="col-sm-12 A">
                                <div class="col-sm-4">
                                <img id="img"src="/assets/images/hr.png" alt="hr">
                                </div>      
                                <div class="col-sm-6" ></div>                            
                        </div>
                        <div class="col-sm-12 A"></div>
                        <div class="col-sm-12 A"></div>
        
                    </div>
        </div>  -->
        <!-- <div class="col-sm-1 A">
                <img id="img"src="/assets/images/hr.png" alt="hr">
        </div>
        <div class="col-sm-2 A">
                <label>HrName : Smita Kumari</label><br>
                <label>MobileNo : 9834567210</label><br>
                <label>HrEmail : smita@mantrava.com</label>   
        </div> -->
    <!-- </div>
</div> -->
<!-- <div class="col-sm-6">
        <label>HrName : Ansul</label>
        <label>MobileNo : Ansul</label>
        <label>HrEmail : Ansul</label>   
</div>    -->


<header class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="col-sm-12">
                    <img src="/assets/images/MantraLogo.jpg" alt="Italian Trulli">
                    <!-- <label>Mantravat Infotech LLp</label> -->
                </div>
            </div>
            <div class="col-sm-6  col-sm-offset-1">
                <input type="search" placeholder="Search.." name="search">
                <button type="button">
                    <span  class="glyphicon glyphicon-search"></span>
              </button>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <!-- <label>ravindra lodhi</label> -->
                <span id="bellIcon" class="glyphicon glyphicon-bell"></span>
                <span><img  src="/assets/images/ravi.jpg" alt="Italian Trulli"></span>
            </div>
        </div>
    </header>