#head2[_ngcontent-c3][_ngcontent-c3] {
    text-align: center;
    background: white;
    margin-left: 280px;
    margin-top: 83px;
    width: 762px;
}
/* label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 7px;
    font-weight: 700;
    margin-left: 615px;
}
.form-control {
    display: block;
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 240px;
}
#h1{
    margin-top: 1px;
    background: white;
    margin-left: 264px;
    width: 764px;
    height: 350px;
}
.form-group {
    margin-bottom: 15px;
    margin-left: -326px;
} */
#h1{
    margin-top: 1px;
    background: white;
    margin-left: 264px;
    width: 764px;
    height: 535px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 521px;
    margin-left: 198px;
    font-size: smaller;
}
.form-control {
    margin-top: 9px;
    display: block;
    width: 53%;
    height: 34px;
    padding: 14px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* #Feed{
    margin-bottom: 353px;
    margin-left: 1045px;
    background: white;
    margin-top: -573px;
    height: 501px;
    width: 271px;
} */
/* //change project// */

#sidebar{
    width: 164px;
    margin-left: 124px;
    height: 67px;
}
ul {
    margin-top: 5px;
    margin-bottom: 10px;
    background: white;
    margin-left: 57px;
    height: 183px;
    width: 206px;
}
#head2[_ngcontent-c3][_ngcontent-c3][_ngcontent-c3] {
    background: white;
    margin-left: 49px;
    margin-top: 51px;
    width: 799px;
}
#h1[_ngcontent-c3] {
    margin-top: -148px;
    background: white;
    margin-left: 298px;
    width: 800px;
    height: 501px;
}
#Feed[_ngcontent-c3] {
    margin-bottom: 353px;
    margin-left: 794px;
    background: white;
    margin-top: -517px;
    height: 501px;
    width: 271px;
}
#myTopnav{
    margin-top: 2px;
  }