img{
  width: 30px;
  height: 30px;
  margin-left: 26px;
      border-radius: 17px;
}
#img{
  width: 85px;
  height: 85px;
  border-radius: 44px;
  margin-top: 27px;
}
.container-fluid{
  /* background-color: rgba(65, 19, 230, 0.96); */
  height: 42px;
  position: relative;
  width: 100%;
}
.row{
   padding-top: 6px;
}
button{
height: 30px;
}
li{
  padding-top: 21px;
    height: auto;
    margin-top: 23px;
    margin-bottom: -35px;
}
.midBox{
  height: auto;
}
.A{
  background-color : rgba(255, 255, 255, 0.86);
  height: 170px;
  margin-top: 3px;
  border-color:#ddd;
  border-width: 6px;
  border-style: solid;

}
#sidebarleftOpt:hover {
    background-color: #D3D3D0;
    border-width: 0.5px;
  }
  a{
    text-decoration: none;
  }
 .taskBox1{
    padding: 0px;
    margin-top: -5px;
  }
  .task1{
    height: 15px;
    width: 15px;
    margin-top: 1px;
    border-radius: 8px;
    background: red;
  }
  .task2{
    height: 15px;
    width: 15px;
    margin-top: 1px;
    border-radius: 8px;
    background: #00FF37;
  }
  .task3{
    height: 15px;
    width: 15px;
    margin-top: 1px;
    border-radius: 8px;
    background: #EEFF00;
  }
  .task4{
    height: 15px;
    width: 15px;
    margin-top: 1px;
    border-radius: 8px;
    background: red;
  }
svg{
  margin-top: 13px;
}
.wrapper {
  display:flex;
  justify-content: center;
  background: #000;
  border-radius: 10px;
  margin: 0;

  margin-top: 4px;
}
.forn{
    margin-top: 9px;
}
button{

  width: 90px;
  background: white;
  border-radius: 46px;
}
#button{
background: rgba(65, 19, 230, 0.96);
margin-left: 321px;
/* margin-left: 15pc; */
}

/* leaveHestry css */
#serchHeader{
background: rgba(65, 19, 230, 0.96);
height: 42px;
margin-top: 14px;
padding-left: 45px

}
.leavHistry{
margin-top: 1px;
text-align: center;
padding-top: 10px;
background:white;
height: 42px;
border-bottom: 0.5px solid #D3D3D0;
}
.companyLeav{
background: white;
height: 35px;
margin-top: 2px;
}
.right-sidebar{
overflow: auto;
height: 500px;
}
ul{
background: white
}
.mainContainer{
/* background: white; */
height: 517px;
/* width: 284px */

}
#right-sidebarrow{
padding-top: 0px
}
.leave[_ngcontent-c3] {
  text-align: center;
  background: white;
  height: 39px;
  margin-top: -57px;
}
form[_ngcontent-c3] {
background: white;
}
#mainContainer {
  height: 567px;
   background: lightgrey; 
  margin-top: 96px;
}
.box{
margin-right: 156px;
  background: white;
  width: 390px;
  padding-left: 52px;
  margin-top: 5px;
  height: 110px;
}
.leaveStatus[_ngcontent-c3][_ngcontent-c3] {
  padding-right: 50px;
  margin-left: -109px;
  margin-top: 30px;
}
.form-control[_ngcontent-c3][_ngcontent-c3][_ngcontent-c3] {
  display: block;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 186px;
  margin-top: 20px;
}
/* label{
  margin-top: 24px;
    font-size: small;
    /* margin-left: 262px; */
    /* margin-left:47px; */
/* } */ */
label[_ngcontent-c3] {
  margin-top: 24px;
  font-size: small;
  margin-left: 234px;
}
label {
  display: inline-block;
  max-width: 67%;
  margin-bottom: 5px;
  font-weight: 700;
  margin-left: 263px;
  font-size: smaller;
  margin-top: 25px;
}
.mainContainer[_ngcontent-c3] {
  height: 567px;
 background: white;
  margin-top: 96px;
}
#leave1{
  margin-left: -109px;
}
/* #leave1{
  margin-left: -228px;
} */
/* #status{
  background: blue;
} */

textarea {
  background-color: transparent;
  font-size: 12px;
  border: 1px solid #ccc;
  height: 104px;
  width: 295px;
  margin-top: 21px;
}
/* .h4, .h5, .h6, h4, h5, h6 {
  margin-top: -57px;
  margin-bottom: 14px;
  background: white;
  height: 31px;
} */
button[_ngcontent-c3] {
  width: 90px;
  background: white;
  background: blue;
  margin-top: 20px;
}
select {
  height: 26px;
}
#s1{
  margin-top: 30px;
}