<div class="container-fluid container-fluid1 ">
    <div class="row">
        <div class="col-sm-2 sidebarleft">
            <ul style="list-style-type:none;">
                <li id="sidebarleftOpt"><a routerLink="/leave">
                                <span class="glyphicon glyphicon-home"></span>
                                Apply Leave</a></li>
                <li id="sidebarleftOpt"><a routerLink="/leave">
                                <span class="glyphicon glyphicon-magnet"></span>
                                Leave Histry</a></li>
                <li id="sidebarleftOpt"><a routerLink="/leave">
                                <span class="glyphicon glyphicon-credit-card"></span>
                                Leave Status</a></li>
            </ul>
        </div>
        <div class="col-sm-7 mainContainer">
            <div class="container-fluid container-fluid1 ">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8 forn">
                        <form #userForm="ngForm" (ngSubmit)="submit(userForm.value)">
                            <label class="col-sm-4">Leave Type</label>
                            <div class="form-group col-sm-8 ">
                                <select type="text" placeholder="Enter Username" class="form-control" name="leaveType1" ngModel>
                                                        <option >Full</option>
                                                        <option >Half</option>
                                </select>
                            </div>
                            <label class="col-sm-4">Leave Type</label>
                            <div class="form-group col-sm-8 ">
                                    <select type="text" placeholder="Enter Username" class="form-control" name="leaveType2" ngModel>
                                                            <option>Special Leave </option>
                                                            <option>Study Leave</option>
                                                            <option >Sick Leave</option>
                                                            <option >Disembarkation leave</option>
                                    </select>
                                </div>
                            <label class="col-sm-4">Start Date</label>
                            <div class="form-group col-sm-8">
                                <input type="date" placeholder="Enter password"  class="form-control" name="startDate" ngModel>
                            </div>
                            <label class="col-sm-4">Start Date</label>
                            <div class="form-group col-sm-8">
                                <input type="date" placeholder="Enter password" class="form-control" name="endDate" ngModel>
                            </div>
                            <label class="col-sm-4">Count Days</label>
                            <div class="form-group col-sm-8">
                                <input type="text" [(ngModel)]="leaveType"  class="form-control" name="countDay" ngModel>
                            </div>
                            <label class="col-sm-4"> Comment</label>
                            <div class="form-group col-sm-8">
                                <!-- <input type="date" placeholder="Enter password" class="form-control" name="endDate" ngModel> -->
                                <textarea  placeholder="Enter password" class="form-control" name="comment" ngModel>Enter text here...</textarea>
                            </div>
                             <button type="submit">Login</button>
                        </form>
                    </div>
                    <div class="col-sm-2"></div>

                </div>
            </div>
        </div>
        <div class="col-sm-3 right-sidebar">
            Feed Updates
        </div>
    </div>
</div>