<div class="container-fluid container-fluid1 ">
    <div class="row">
        <div class="col-sm-2 sidebarleft">
            <ul style="list-style-type:none;">
                <li id="sidebarleftOpt"><a (click)="callComponentMethodHere(1)">
                                <span class="glyphicon glyphicon-home"></span>
                                Apply Leave</a></li>
                <li id="sidebarleftOpt"><a (click)="callComponentMethodHere(2)">
                                <span class="glyphicon glyphicon-magnet"></span>
                                Leave Histry</a></li>
                <li id="sidebarleftOpt"><a (click)="callComponentMethodHere(3)">
                                <span class="glyphicon glyphicon-credit-card"></span>
                                Leave Status</a></li>
            </ul>
        </div>
        <div *ngIf="applyLeave" class="col-sm-7 mainContainer">
            <div class="container-fluid container-fluid1 ">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8 forn">
                        <form #userForm="ngForm" (ngSubmit)="submit(userForm.value)">
                            <label class="col-sm-4">Leave Type</label>
                            <div class="form-group col-sm-8 ">
                                <select type="text" #nameRef="ngModel" minlength="4" class="form-control" name="name" [(ngModel)]="name" required>
                                                        <option >Full</option>
                                                        <option >Half</option>
                                </select>
                                <!-- <input type="text" #nameRef="ngModel" minlength="4" class="form-control" name="name" [(ngModel)]="name" required> -->
                                <div [hidden]="nameRef.valid || nameRef.pristine" class="alert alert-danger">
                                    please Enter the name
                                </div>
                            </div>
                            <label class="col-sm-4">Leave Type</label>
                            <div class="form-group col-sm-8 ">
                                <select type="text" placeholder="Enter Username" class="form-control" name="leaveType2" ngModel>
                                                            <option>Special Leave </option>
                                                            <option>Study Leave</option>
                                                            <option >Sick Leave</option>
                                                            <option >Disembarkation leave</option>
                                    </select>
                            </div>
                            <label class="col-sm-4">Start Date</label>
                            <div class="form-group col-sm-8">
                                <input type="date" placeholder="Enter password" class="form-control" name="startDate" ngModel>
                            </div>
                            <label class="col-sm-4">Start Date</label>
                            <div class="form-group col-sm-8">
                                <input type="date" placeholder="Enter password" class="form-control" name="endDate" ngModel>
                            </div>
                            <label class="col-sm-4">Count Days</label>
                            <div class="form-group col-sm-8">
                                <input type="text" [(ngModel)]="leaveType" class="form-control" name="countDay" ngModel>
                            </div>
                            <label class="col-sm-4"> Comment</label>
                            <div class="form-group col-sm-8">
                                <textarea placeholder="Enter password" class="form-control" name="comment" ngModel>Enter text here...</textarea>
                            </div>
                            <button id="button" type="submit">Login</button>
                        </form>
                    </div>
                    <div class="col-sm-2"></div>

                </div>
            </div>
        </div>
        <div *ngIf="leaveStatus" class="col-sm-7 mainContainer">
            <div class="row">
                <div class="col-sm-12 leave" style="text-align :center">
                    <h4>Leave Status</h4>
                </div>
            </div>
 
            <header *ngFor="let leaveStatus of leaveStatus1">
                <div class="col-sm-6 leaveStatus  ">
                    <label class="box">{{leaveStatus.Name}} is on leave
                        <h5> FROM {{leaveStatus.StartDate}} To {{leaveStatus.EndDate}}</h5>
                        <h6>{{leaveStatus.countDays}} days beacuse he has {{leaveStatus.leaveType}} </h6>
                    </label>
                </div>
            </header>
        </div>
        <div *ngIf="leaveHistry" class="col-sm-7 mainContainer">
            <div class="container-fluid container-fluid1  ">
                <div class="row midBox">
                    <header id="serchHeader">
                        <div class="col-sm-4">
                            <input style="margin-top :5px" type="date" name="" id="">
                        </div>
                        <div class="col-sm-4">
                            <input style="margin-top :5px" type="date" name="" id="">
                        </div>
                        <div class="col-sm-4">
                            <button style="margin-top :5px" type="button">serch</button>
                        </div>
                    </header>
                    <header *ngFor="let headeropt of headerOpts">
                        <div class="col-sm-3 leavHistry ">{{headeropt}}</div>
                    </header>
                    <header *ngFor="let leavHistry of leaveHistry">
                        <div class="col-sm-3 leavHistry">{{leavHistry.startDate}}</div>
                        <div class="col-sm-3 leavHistry">{{leavHistry.enddate}}</div>
                        <div class="col-sm-3 leavHistry">{{leavHistry.countdays}}</div>
                        <div class="col-sm-3 leavHistry">{{leavHistry.leavetype}}</div>
                    </header>
                </div>
            </div>
        </div>

        <div class="col-sm-3 right-sidebar">
            <div class="container-fluid">
                <div class="row" id="right-sidebarrow">
                    <header class="companyLeav">
                        <div class="col-sm-6">Firstname</div>
                        <div class="col-sm-6">Lastname</div>
                    </header>
                    <header *ngFor="let leavHistry of companyLeaveCelender">
                        <div class="col-sm-6 companyLeav">{{leavHistry.key}}</div>
                        <div class="col-sm-6 companyLeav">{{leavHistry.value}}</div>
                    </header>


                </div>
            </div>
        </div>
    </div>
</div>