<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container" style="margin-top:30px; margin-left: 75px;">
  <div class="row">
    <h2 align="center"> Change User Profile</h2>


    <div class="col-md-12 ">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> Change User Profile</h4>
        </div>
        <div class="panel-body">

          <div class="box box-info">

            <div class="box-body">
              <div class="col-sm-6">
                <div align="center" > <img alt="User Pic"
                    src="/assets/images/nobody.jpg"
                    id="profile-image1" class="img-circle img-responsive" >

                  <input id="profile-image-upload" class="hidden" type="file">
                  <div style="color:#999;" (click)="img()">click here to change profile image</div>
                  <!--Upload Image Js And Css-->







                </div>

                <br>

                <!-- /input-group -->
              </div>
              <div class="col-sm-6">
                <span> <h4 style="color:#00b1b1;">Aditya Kumar Dubey</h4></span>
                <span>
                  <p>Internship Trainee</p>
                </span>
              </div>
              <div class="clearfix"></div>
              <hr style="margin:5px 0 5px 0;">


              <div class="col-sm-5 col-xs-6 tital ">Date Of Joining:</div>
              <div class="col-sm-7 col-xs-6 ">24 Jan 2019</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div>
              <div class="col-sm-7"> 02 Feb 1996</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Place Of Birth:</div>
              <div class="col-sm-7"> Daltonganj</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Email:</div>
              <div class="col-sm-7"><input type="text" id="e"placeholder="Enter your email"/></div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Password</div>
              <div class="col-sm-7"><input type="password" id="p"placeholder="Enter your password"/></div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Confrim password</div>
              <div class="col-sm-7"><input type="text" id="cp"placeholder="Enter your confirm password"/></div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Nationality:</div>
              <div class="col-sm-7">Indian</div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Relition:</div>
              <div class="col-sm-7">Hindu</div>

              <button>Save</button>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->

          </div>


        </div>
      </div>
    </div>
    <script>
         
    </script>









  </div>
</div>