img{
    width: 30px;
    height: 30px;
    margin-left: 26px;
        border-radius: 17px;
  }
  #img{
    width: 85px;
    height: 85px;
    border-radius: 44px;
    margin-top: 27px;
  }
  .container-fluid{
    background-color: rgba(65, 19, 230, 0.96);
    height: 42px;
    position: relative;
    width: 100%;
  }
  input {
    width: 339px;
    height: 30px;
  }
  .row{
     padding-top: 6px; 
  }
  button{
  height: 30px;
  }
 
 
  input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
  
     width: 100px;
    height: 100px;
	border:2px solid #03b1ce ;}
	.tital{ font-size:16px; font-weight:500;}
     .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}	
     input[type=text], input[type=password] {
        width: 70%;
       
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      } 
      button{
        background-color: rgba(65, 19, 230, 0.96);
        height: 31px;;
        width: 69px;
        /* margin-left: 532px; */
        border-radius: 12px;
        margin-left: 582px;
      }