body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
 
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 160px;
  margin-left: 107px;
  border-radius: 17px;
}

button[_ngcontent-c2] {
  /* margin-left: 146px; */
  height: 30px;
  border-radius: 79px;
  width: 151px;
  /* background: green; */
  margin-left: 112px;
}
button:hover {
  opacity: 0.8;
}
h3{
  padding-left: 160px;
}
h1{
  padding-left: 113px;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  margin: 24px 0 12px 0;
  height: 49px;
}

img.avatar {
    width: 11%;
    border-radius: 11%;
    margin-left: 163px;

}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  
img.avatar {
    width: 35%;
    border-radius: 11%;
    
}
}
form[_ngcontent-c2] {
    margin-top: 38px;
    border: none;
    background: yellowgreen;
    height: 500px;
    margin-left: 29px;
}


/* forget{
  margin-left: 103px;
    width: 165px;
    border-radius: 46px;
}
 */
