<div class="containe">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form #userForm="ngForm" (ngSubmit)="submit(userForm.value)">
                    <div class="imgcontainer">
                        <img src="/assets/images/MantraLogo.jpg" alt="Avatar" class="avatar">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Enter Username" class="form-control" name="userName" ngModel>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Enter password" class="form-control" name="password" ngModel>
                    </div>
                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>  
      </div>