<div class="col-sm-2 sidebarleft" id="myTopnav" style="margin-top: 50px; position:fixed;">
    
  <ul style="list-style-type:none;" style=" background-color:white;   width: 62%;">
    <div class="row" >
      <li id="sidebarleftOpt"><a routerLink="/dashboard">
          <span class="glyphicon glyphicon-home"></span>
          Dashbord</a></li>
    </div>

    <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="project()"><a
        routerLink="#">
        <span class="glyphicon glyphicon-home"></span>
        Project</a></li>
    <div class="content" id="projects" style="display:none">
      <li id="sidebarleftOpt" class="collapsible"><a routerLink="/project" class="collapsible">
          <span class="glyphicon glyphicon-home"></span>
          Create Project</a></li>
      <li id="sidebarleftOpt" class="collapsible"><a routerLink="#" class="collapsible">
          <span class="glyphicon glyphicon-home"></span>
          Change Project</a></li>
      <li id="sidebarleftOpt" class="collapsible"><a routerLink="/displayproject" class="collapsible">
          <span class="glyphicon glyphicon-home"></span>
          Display Project</a></li>
    </div>


    <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="task()"><a routerLink="#">
        <span class="glyphicon glyphicon-home"></span>
        Task</a></li>
    <div class="content" id="tasks" style="display:none">
      <li id="sidebarleftOpt"><a routerLink="/task">
          <span class="glyphicon glyphicon-home"></span>
          Create Task</a></li>
      <li id="sidebarleftOpt"><a routerLink="/#">
          <span class="glyphicon glyphicon-home"></span>
          Change Task</a></li>
      <li id="sidebarleftOpt"><a routerLink="/displaytask">
          <span class="glyphicon glyphicon-home"></span>
          Display Task</a></li>
    </div>
    <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="team()"><a routerLink="#">
        <span class="glyphicon glyphicon-home"></span>
        Team</a></li>
    <div class="content" id="teams" style="display:none">
      <li id="sidebarleftOpt"><a routerLink="/createteam">
          <span class="glyphicon glyphicon-home"></span>
          Create Team</a></li>
      <li id="sidebarleftOpt"><a routerLink="/changeteam">
          <span class="glyphicon glyphicon-home"></span>
          Change Team</a></li>
      <li id="sidebarleftOpt"><a routerLink="/displayteam">
          <span class="glyphicon glyphicon-home"></span>
          Display Team</a></li>
    </div>
    <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="leave()"><a
        routerLink="#">
        <span class="glyphicon glyphicon-home"></span>
        Leave</a></li>
    <div class="content" id="leaves" style="display:none">
      <li id="sidebarleftOpt"><a routerLink="/leavehistory" >
          <span class="glyphicon glyphicon-home"></span>
          Apply Leave</a></li>
      <li id="sidebarleftOpt" ><a routerLink="/leave" >
          <span class="glyphicon glyphicon-home"></span>
          Leave History</a></li>
      <li id="sidebarleftOpt" ><a routerLink="/leavestatus" >
          <span class="glyphicon glyphicon-home"></span>
          Leave Status</a></li>
    </div>
    <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="timesheet()"><a
        routerLink="#">
        <span class="glyphicon glyphicon-home"></span>
        Timesheet</a></li>
    <div class="content" id="timesheets" style="display:none">
      <li id="sidebarleftOpt" class="collapsible"><a routerLink="/createtimesheet" class="collapsible">
          <span class="glyphicon glyphicon-home"></span>
          Create Timesheet</a></li>
      <li id="sidebarleftOpt" class="collapsible"><a routerLink="/changetimesheet" class="collapsible">
          <span class="glyphicon glyphicon-home"></span>
          Change Timesheet</a></li>
      <li id="sidebarleftOpt" class="collapsible"><a routerLink="/timesheet" class="collapsible">
          <span class="glyphicon glyphicon-home"></span>
          Display Timesheet</a></li>
    </div>
    <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="login()"><a
        routerLink="#">
        <span class="glyphicon glyphicon-home"></span>
        Login</a></li>
    <div class="content" id="logins" style="display:none">
      <li id="sidebarleftOpt"><a routerLink="/signup">
          <span class="glyphicon glyphicon-home"></span>
          Signup</a></li>
      <li id="sidebarleftOpt"><a routerLink="/login">
          <span class="glyphicon glyphicon-home"></span>
          Login</a></li>
      <li id="sidebarleftOpt"><a routerLink="/forgotpassword">
          <span class="glyphicon glyphicon-home"></span>
          Forgot Password</a></li>
    </div>
    <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="profile()"><a
        routerLink="#">
        <span class="glyphicon glyphicon-home"></span>
        Profile</a></li>
    <div class="content" id="profiles" style="display:none">
      <li id="sidebarleftOpt"><a routerLink="/profile">
          <span class="glyphicon glyphicon-home"></span>
          Display Profile</a></li>
      <li id="sidebarleftOpt"><a routerLink="/changeprofile">
          <span class="glyphicon glyphicon-home"></span>
          Change Profile</a></li>

    </div>
  </ul>
</div>