<div class="container-fluid container-fluid1 ">
  <div class="row">
      <div class=" col-xs-6  topnav">
              <a href="javascript:void(0);" class="icon" >
               <i class="glyphicon glyphicon-menu-hamburger"(click)="myFunction()" id="icon"></i>
              </a>
      </div>
      <div class=" col-xs-6 topnav">
              <a href="javascript:void(0);" class="icon1">
               <i class="glyphicon glyphicon-menu-hamburger"(click)=" myFunctionFeedBack()" id="icon"></i>
              </a>
      </div>
      <!-- <div class="col-sm-2 sidebarleft" id="myTopnav" style="margin-top: 44px;">
          <ul style="list-style-type:none;">
              <li id="sidebarleftOpt"><a routerLink="#">
                            <span class="glyphicon glyphicon-home"></span>
                            Dashbord</a></li>
              <li id="sidebarleftOpt"><a routerLink="/createtimesheet">
                            <span class="glyphicon glyphicon-magnet"></span>
                            create timesheet</a></li>
              <li id="sidebarleftOpt"><a routerLink="/timesheet">
                            <span class="glyphicon glyphicon-credit-card"></span>
                            Display timesheet</a></li>
              <li id="sidebarleftOpt"><a routerLink="/timesheet">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            Leave</a></li>
              <li id="sidebarleftOpt"><a routerLink="/timesheet">
                            <span class="glyphicon glyphicon-time"></span>
                            Time Sheet</a></li>
              <li id="sidebarleftOpt"><a (click)="onChang()">
                              <span class="glyphicon glyphicon-time"></span>
                              Singup</a></li>
          </ul>
      </div> -->
      <div _ngcontent-c4="" class="col-sm-12 mainContainer">
        <!-- <div _ngcontent-c4="" class="container-fluid container-fluid"> -->
          <div _ngcontent-c4="" class="row">
           
         <div  class="col-sm-12" style="background-color: white;
         margin-top: 40px;
         width: 167%;
         margin-left: 13px;">
                         <h2 align="center">Display Timesheet</h2>
           Month<input #firstNameInput type="month"  value="{{today1}}" name="d" style="width:160px"/>
        

           <button (click)="date(firstNameInput)" >Display</button>
           <button  style="margin-left:578px">Submit</button>
           <button >Save</button><br/><br/>
           <table border="2" style="width: 100%;">
              
             <tr>
               <th>Date</th>
               <th>Days</th>
               <th>Project</th>
               <th>Tasks</th>
               <th>Description</th>
              </tr>
              <tr id="object-{{weeks[k]}}" *ngFor= "let day of days ; let week of weeks ,let k=index" >
                  <td [ngClass]="avf" >{{day}}</td>
                   <td id="object-{{weeks[k]}}">{{weeks[k]}}</td>
                  <td >project</td>
                  <td>Timesheet</td>
                  <td>Screen alignment</td>
                 </tr>
           </table>
           
         </div>
             
             
       
          </div>
        
        
      </div>

      


      <!-- <div class="col-sm-3  right-sidebar" id="Feed" style="margin-left: 10px; margin-top: 44px;">
          <header>Feed Updates</header> 
          <marquee width="75%" direction="up" height="93%" >
              <br/><br/><label width="75%" direction="up" height="30%" *ngFor= "let f of feed">
                  {{f}}
              </label><br/><br/>
          </marquee>
          
      </div> -->
</div>
</div>
<!-- <header class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <select id="select">
      <option value="volvo">2001</option>
      <option value="saab">2002</option>
      <option value="mercedes">2003</option>
      <option value="audi">2004</option>
      <option value="volvo">2005</option>
      <option value="saab">2006</option>
      <option value="mercedes">2007</option>
      <option value="audi">2008</option>
    </select>
    </div>
    <div class="col-md-3">
      <select>
        <option value="volvo">JANUARY </option>
        <option value="saab">FEBRUARY</option>
        <option value="mercedes">MARCH </option>
        <option value="audi">APRIL</option>
        <option value="volvo">MAY </option>
        <option value="saab">JUNE </option>
        <option value="mercedes">JULY</option>
        <option value="audi">AUGUST</option>
        <option value="volvo">SEPTEMBER</option>
        <option value="saab">OCTOBER</option>
        <option value="mercedes">NOVEMBER</option>
        <option value="audi">DECEMBER </option>
      </select>
    </div>
    <div class="col-md-3">
      <select id="select">
        <option value="volvo">To be sumited</option>
        <option value="saab">All</option>
        <option value="mercedes">Approved</option>
        <option value="audi">saved</option>
        <option value="volvo">rejected</option>
        <option value="saab">submitted</option>
      </select>
    </div>
    <div class="col-md-1">
      <button type="submit">Set</button>
    </div>
    <div class="col-md-1">
      <button type="submit">save</button>
    </div>
  </div>
</header>
<div class="container ">
  <div class="row seven-cols">
    <div *ngFor="let day of days">
      <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 A">
        <div class="container ">
          {{day}}
          <div class="row seven-cols">
            <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 ">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 ">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->