<head>
    <title>Aditya</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
<div class="container-fluid container-fluid1 ">
    <div class="row">
        <div class=" col-xs-6  topnav">
                <a href="javascript:void(0);" class="icon" >
                 <i class="glyphicon glyphicon-menu-hamburger"(click)="myFunction()" id="icon"></i>
                </a>
        </div>
        <div class=" col-xs-6 topnav">
                <a href="javascript:void(0);" class="icon1">
                 <i class="glyphicon glyphicon-menu-hamburger"(click)=" myFunctionFeedBack()" id="icon"></i>
                </a>
        </div>
        
        <div _ngcontent-c4="" class="col-sm-7 mainContainer">
          <!-- <div _ngcontent-c4="" class="container-fluid container-fluid"> -->
            <div _ngcontent-c4="" class="row">
            
           <div  class="col-sm-12" style="background-color: white;
           margin-top: 40px;
           width: 291%;
           margin-left: 13px;" >
            <form >
                           <h2 align="center">  Create Timesheet</h2>
             Month<input #firstNameInput type="month" name="d" value="{{today1}}"  id="m" (click)="Date()"/>
          
  
             <button (click)="date(firstNameInput)">Create</button>
             
             <button (click)="create(p,t,des)" ng-disabled="true"
             style="margin-left:578px">Submit</button>
             <button >Save</button><br/><br/>
             <table border="2" style="width: 100%;">
                
               <tr>
                 <th>Select</th>
                 <th>Date</th>
                 <th>Days</th>
                 <th>Project</th>
                 <th>Tasks</th>
                 <th>Description</th>
                </tr>
                <tr id="object-{{weeks[k]}}"   *ngFor= "let day of days ; let week of weeks ,let k=index" >
                    <td><input type="checkbox" name="cb1"/> </td>
                    <td style="color:black;" >{{day}}</td>
                    <td id="object-{{weeks[k]}}">{{weeks[k]}}</td>
                    <td ><select id="object-{{day}}" style="color:black;">
                      <option *ngFor=" let x of names">{{x}}</option>
                    </select></td>
                    <td><input #t type="text" name="t" placeholder="Enter Your Task Name" id="object1-{{day}}"/></td>
                    <td><input #des type="text" name="Des" placeholder="Enter Description" id="object2-{{day}}"/></td>
                   </tr>
             </table>
            </form>
             
          </div>
          
               
               
         
          </div>
          
          
        </div>
  
        
  
  
       
  </div>
  </div>
  <!-- <header class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <select id="select">
        <option value="volvo">2001</option>
        <option value="saab">2002</option>
        <option value="mercedes">2003</option>
        <option value="audi">2004</option>
        <option value="volvo">2005</option>
        <option value="saab">2006</option>
        <option value="mercedes">2007</option>
        <option value="audi">2008</option>
      </select>
      </div>
      <div class="col-md-3">
        <select>
          <option value="volvo">JANUARY </option>
          <option value="saab">FEBRUARY</option>
          <option value="mercedes">MARCH </option>
          <option value="audi">APRIL</option>
          <option value="volvo">MAY </option>
          <option value="saab">JUNE </option>
          <option value="mercedes">JULY</option>
          <option value="audi">AUGUST</option>
          <option value="volvo">SEPTEMBER</option>
          <option value="saab">OCTOBER</option>
          <option value="mercedes">NOVEMBER</option>
          <option value="audi">DECEMBER </option>
        </select>
      </div>
      <div class="col-md-3">
        <select id="select">
          <option value="volvo">To be sumited</option>
          <option value="saab">All</option>
          <option value="mercedes">Approved</option>
          <option value="audi">saved</option>
          <option value="volvo">rejected</option>
          <option value="saab">submitted</option>
        </select>
      </div>
      <div class="col-md-1">
        <button type="submit">Set</button>
      </div>
      <div class="col-md-1">
        <button type="submit">save</button>
      </div>
    </div>
  </header>
  <div class="container ">
    <div class="row seven-cols">
      <div *ngFor="let day of days">
        <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 A">
          <div class="container ">
            {{day}}
            <div class="row seven-cols">
              <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 ">
              </div>
              <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 ">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->