<form style="background-color: white;
width: 165%;
margin-left: 28px;
margin-top: 51px;" >
  <div class="container">
    
    <h2 align="center">Please fill in this form to Reset Password of  your account.</h2>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Enter Otp</b></label>
    <input type="password" placeholder="Enter Otp" name="Otp" required>

    <label for="psw"><b> Set Password</b></label>
    <input type="password" placeholder="Enter new Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    <hr>

   
    <button type="submit" class="registerbtn">Reset </button>
  </div>

  <div class="container signin">
     <a href="/login">Login in</a>
  </div>
</form>
