alert{
  padding: 20px;
  background-color: #f44336;
  color: white;
}

form{
   background: white;
   margin-top: 55px;
   /*height:500px;*/
   /* overflow-x: scroll; */
}

.signup{
   background: white;
}
/* .textarea
{
   margin-top: -8px;
   border-radius: 26px;
   margin-bottom: -25px;
   margin-left: 31px;
   height: 32px;
} */
.table>{
   overflow-y: scroll;
   overflow-x: scroll;

}
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  
}
label {
   display: inline-block;
   max-width: 100%;
   margin-bottom: 12px;
   font-weight: 700;
   margin-top: 32px;
}
.l1{
   margin-left: 20px;
}
.bt1[_ngcontent-c4] {
   margin-left: 5px;
   margin-top: -3px;
}
#bi{
   font-size: 25px;
}
#b2{
margin-top: -241px;
   margin-left: -83px;
   height: 24px;
   border-radius: 26px;
}
#d1{
   height: 56px;
   /* background: rgb(153, 151, 151); */
   margin-top: 20px;
   margin-bottom: -13px;

}
#dc1{
   width: 48%;
}


.form-control {
   display: block;
   /* width: 100%; */
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: #fff;
}
#button{
   margin-left: 568px;
   margin-bottom: 63px;
   margin-top: 27px;
   border-radius: 8px;
   background: blue;
   height: 43px;
   width: 75px;
}


/* #edu{
   margin-left: 550px;
}
#ex{
   margin-left: 500px;
}
#add{
   margin-left: 595px;
} */
/* label[_ngcontent-c4] {
   display: inline-block;
   max-width: 100%;
   margin-bottom: 42px;
   font-weight: 700;
   margin-top: 66px;
   margin-left: -14px;
} */
input[type=text], input[type=password] ,input[type=Date],input[type=password],input[type=email],input[type=number],input[type=select]{
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}
textarea{
  width: 100%;
   padding: 5px 10px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   height: 30px;
 }

 @media screen and (max-width: 600px) {
   .topnav{
     background: black;
     margin-top: -5px; 
   }
   .sidebarleft {
     display: none !important;
     padding: 0px;
   
   }
   .sidebarleftA {
     display: none !important;
   }
   .sidebarleftB {
     display: block !important;
   }
   .topnav a.icon {
     float: left;
     display: block;
   }
   .topnav a.icon1 {
     float: right;
     display: block;
   }
   
 
   .right-sidebar {
     width: 81px;
     height: 224px;
     display: none;
   }
   .col-xs-2 {
     width: 16.666667%;
     margin: 0px;
     padding: 0px;
   }
   ul {
     padding-left: 1px;
     font-size: 12px;
   }
 
   .glyphicon-menu-hamburger {
     font-size: 25px;
   }
   #myTopnav {
     position: absolute;
     z-index: 2;
     width: 100px;
     margin-top: 28px;
   }
 #Feed{
   position: absolute;
   z-index: 2;
   width: 100px;
   margin-top: 28px;
   margin-left: 311px;
   font-size: 11px;
   }
   .col-sm-3  right-sidebar{
     display: none;
   }
   .right-sidebarB{
     background: white;
     height: 200px;
     width: 284px;
   }
   #d1{
     margin-top: 15px;
   }
   #button{
     margin-left: 200px;
   }
   #dc1
   {
    width: 95%;
    margin-left: 17px;
   }
   form{
    background: white;
    margin-top: 23px;
    height:500px;
    overflow-x: scroll;
 }
 .signup{
  height: 40px;
 }
   
 }