<head>
  <title>Signup</title>
</head>
<div class="container-fluid" style="width: 170%;">
  <div class="row">
    <div class="col-sm-12 signup" style="text-align: center; margin-left: 15px; margin-right: 10px;width:97%;margin-top:60px;margin-bottom: -40px;">
      <h3>Signup</h3>
    </div>


    <div class="col-md-12">
      <form #userForm="ngForm" (ngSubmit)="submit(userForm.value)" (ngSubmit)="onSubmit()" #testForm="ngForm"
        ngNativeValidate>
        <div class="col-md-12" id="bd" style="background-color: white;">
          <div class="col-md-12">
            <h1 style="text-align: center;">Basic Information</h1>
          </div>
          <div class="col-md-6 ">
            <label>Type :</label><input type="suffix" placeholder="Type" class="form-control" id="type" name="type"
              ngModel>
          </div>

          <div class="col-md-6">
            <label>Cataegory :</label><input type="FirstName" placeholder="Cataegory" class="form-control" name="cat"
              id="cat" ngModel> </div>
          <div class="col-md-6 ">
            <label>Suffix :</label><input type="suffix" placeholder="suffix" class="form-control" id="suffix"
              name="suffix" ngModel>
          </div>

          <div class="col-md-6">
            <label>First name :</label><input type="FirstName" placeholder="First name" class="form-control"
              name="FirstName" id="fn" ngModel> </div>




          <div class="col-md-6">
            <label>Middle name :</label><input type="middle name" placeholder="middle name" class="form-control"
              name="middleName" id="mn" ngModel> </div>
          <div class="col-md-6">
            <label>Last name :</label> <input type="Last name" placeholder="lastname" class="form-control"
              name="lastName" id="ln" ngModel> </div>
          <div class="col-md-6" style="margin-top: 7px;">
            <label>Gender :</label> <select type="text" placeholder="gender" class="form-control gender" name="gender"
              ngModel>
              <option>male </option>
              <option>female</option>
            </select>
          </div>
          <div class="col-md-6">
            <label>DOB:</label> <input type="Date" placeholder="date of birth" class="form-control" name="DOB" id="dob"
              ngModel>
            <font color="green" id="demo7"></font>
            <font color="red" id="demo8"></font>


          </div>
          <div class="col-md-6" style="margin-top: -23px;">
            <label>DOJ:</label> <input type="Date" placeholder="DOj" class="form-control" name="DOJ" id="doj" ngModel>
            <font id="doj1" color="green"></font>
            <font id="doj2" color="red"></font>
          </div>
          <div class="col-md-6" style="margin-top: -23px;">
            <label>Email:</label> <input type="text" placeholder="Email" class="form-control" name="Email" id="em"
              ngModel>
            <font id="em1" color="green"></font>
            <font id="em2" color="red"></font>
          </div>
          <button id="button"
            onclick="document.getElementById('add').style.display='block',document.getElementById('bd').style.display='none'">Next</button>
            
        </div>
      </form>
      <form #userForm="ngForm" (ngSubmit)="submit(userForm.value)" (ngSubmit)="onSubmit()" #testForm="ngForm"
        ngNativeValidate>

        <div class="col-md-12" id="add" style="display:none">
          <div class="container" style="width: 1055px; background-color: white;margin-left: -14px;">
            <label>Address:</label>
            <button type="button" data-toggle="collapse" data-target="#demo" style="margin-left: 18px;"><span
                class="glyphicon glyphicon-triangle-right" id="add"></span></button>
            <div id="demo" class="collapse">
              <div class="col-md-6">
                <h4>current address</h4>
                <input type="checkbox" name="same"  />
                <div class="col-md-12">

                  <label>Addressid</label>
                  <input type="text" id="aidc" placeholder="Addressid" class="form-control" name="aid" ngModel>

                </div>
                <div class="col-md-12">

                  <label>Mobile Number1</label>
                  <input type="text" id="mbn1c" placeholder="Mobile Number1" class="form-control" name="aid" ngModel>

                </div>
                <div class="col-md-12">

                  <label>Mobile Number2</label>
                  <input type="text"  id="mbn2c"  placeholder="Mobile Number2" class="form-control" name="aid" ngModel>

                </div>
                <div class="col-md-12">
                  <label>Email:</label> <input type="text"id="emc" placeholder="Email" class="form-control" name="Emailc"
                    id="emc" ngModel>
                  <font id="emc1" color="green"></font>
                  <font id="emc2" color="red"></font>
                </div>

                <div class="col-md-12">
                  <label>country</label>
                  <select type="text" id="coc" placeholder="country" class="form-control" name="countryp" ngModel>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Åland Islands">Åland Islands</option>
                    <option value="Albania">Albania</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <label>State</label>
                  <select type="text" id="sc" placeholder="State" class="form-control" name="Statep" ngModel>
                    <option value="AL">Alabama</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <label>city</label><input type="text" id="ctc" placeholder="city" class="form-control" name="cityp" ngModel>
                </div>
                <div class="col-md-12">
                  <label>Street1</label><input type="text" id="st1c" placeholder="Street1" class="form-control" name="Street1p"
                    ngModel>
                </div>
                <div class="col-md-12">
                  <label>Street2</label><input type="text" id="st2c" placeholder="Street2" class="form-control" name="Street1p"
                    ngModel>
                </div>
                <div class="col-md-12">
                  <label>pin</label><input type="number" id="pinc" placeholder="pincode" class="form-control" name="pinp"
                    maxlength="6" ngModel>
                </div>
              </div>
              <div class="col-md-6">
                <h4>permanent address</h4>
                <input type="checkbox" name="same" id="myCheck" placeholder="same as corresponding address " (click)="myFunction()"/>same as current address<p id="text" style="display:none">Checkbox is CHECKED!</p>
                <div class="col-md-12">

                  <label>Addressid</label>
                  <input type="text"id="aidp"  placeholder="Addressid" class="form-control" name="aid" ngModel>

                </div>
                <div class="col-md-12">

                  <label>Mobile Number1</label>
                  <input type="text"  id="mbn1p" placeholder="Mobile Number1" class="form-control" name="aid" ngModel>

                </div>
                <div class="col-md-12">

                  <label>Mobile Number2</label>
                  <input type="text"  id="mbn2p"  placeholder="Mobile Number2" class="form-control" name="aid" ngModel>

                </div>
                <div class="col-md-12">
                  <label>Email:</label> <input type="text" placeholder="Email" class="form-control" name="Emailp"
                    id="emp" ngModel>
                  <font id="emp1" color="green"></font>
                  <font id="emp2" color="red"></font>
                </div>

                <div class="col-md-12">
                  <label>country</label>
                  <select type="text"  id="cop" placeholder="country" class="form-control" name="countryp" ngModel>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Åland Islands">Åland Islands</option>
                    <option value="Albania">Albania</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <label>State</label>
                  <select type="text" id="sp" placeholder="State" class="form-control" name="Statep" ngModel>
                    <option value="AL">Alabama</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <label>city</label><input type="text" id="ctp" placeholder="city" class="form-control" name="cityp" ngModel>
                </div>
                <div class="col-md-12">
                  <label>Street1</label><input type="text" id="st1p"placeholder="Street1" class="form-control" name="Street1p"
                    ngModel>
                </div>
                <div class="col-md-12">
                  <label>Street2</label><input type="text" id="st2p" placeholder="Street2" class="form-control" name="Street1p"
                    ngModel>
                </div>
                <div class="col-md-12">
                  <label>pin</label><input type="number" id="pinp"  placeholder="pincode" class="form-control" name="pinp"
                    maxlength="6" ngModel>
                </div>
              </div>
            </div>
            <button id="button"
            onclick="document.getElementById('ed').style.display='block',document.getElementById('add').style.display='none'">Next</button>
            <button id="button" style="margin-left: 24px;"
            onclick="document.getElementById('bd').style.display='block',document.getElementById('add').style.display='none'">Previous</button>

          </div>
          
        </div>

      </form>
      <form #userForm="ngForm" (ngSubmit)="submit(userForm.value)" (ngSubmit)="onSubmit()" #testForm="ngForm"
        ngNativeValidate>
        <div class="col-md-12" id="ed" style=" display:none;background-color: white;">
          <label> Education:</label>
          <button type="button" data-toggle="collapse" data-target="#demo2" style="margin-left: 5px;"><span
              class="glyphicon glyphicon-triangle-right" id="ex"></span>
          </button>
          <div id="demo2" class="collapse">
            <table class="table table-striped" style="padding:6px">
              <thead >
                <tr>
                  <th>Courses</th>
                  <th>College</th>
                  <th>University</th>
                  <th>Degree</th>
                  <th>Percentage/CGPA</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th >Certificate</th>
                  <!-- <th>A2</th>
                  <th>A3</th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>PG</td>
                  <td><input type="text" name="collegepg" ngModel></td>
                  <td><input type="text" name="universitypg" ngModel></td>
                  <td><input type="text" name="Degreepg" ngModel></td>
                  <td><input type="number" name="percentagepg" ngModel></td>
                  <td><input type="date" name="frompg" ngModel></td>
                  <td><input type="date" name="topg" ngModel></td>
                  <td><input type="file" name="Certificatepg" accept="file/*" ngModel></td>
                  <!-- <td><input type="file" name="fileupload" accept="file/*" name="file" ngModel></td>
                  <td><input type="file" name="fileupload" accept="file/*" name="file" ngModel></td>-->
                </tr>
                <tr>
                  <td>UG</td>
                  <td><input type="text" name="collegeug" ngModel></td>
                  <td><input type="text" name="universityug" ngModel></td>
                  <td><input type="text" name="Degreeug" ngModel></td>
                  <td><input type="number" name="percentageug" ngModel></td>
                  <td><input type="date" name="fromug" ngModel></td>
                  <td><input type="date" name="toug" ngModel></td>
                  <td><input type="file" name="Certificateug" accept="file/*" ngModel></td>
                  <!-- <td><input type="file" name="fileupload" accept="file/*" name="file" ngModel></td>
                  <td><input type="file" name="fileupload" accept="file/*" name="file" ngModel></td> -->
                </tr>
                <tr>
                  <td>PUC</td>
                  <td><input type="text" name="college12" ngModel></td>
                  <td><input type="text" name="university12" ngModel></td>
                  <td><input type="text" name="Degree12" ngModel></td>
                  <td><input type="number" name="percentage12" ngModel></td>
                  <td><input type="date" name="from12" ngModel></td>
                  <td><input type="date" name="to12" ngModel></td>
                  <td><input type="file" name="Certificate12" accept="file/*" ngModel></td>
                  <!-- <td><input type="file" name="fileupload" accept="file/*" name="file" ngModel></td>
                  <td><input type="file" name="fileupload" accept="file/*" name="file" ngModel></td> -->
                </tr>
                <tr>
                  <td>10th</td>
                  <td><input type="text" name="college10" ngModel></td>
                  <td><input type="text" name="university10" ngModel></td>
                  <td><input type="text" name="Degree10" ngModel></td>
                  <td><input type="number" name="percentage10" ngModel></td>
                  <td><input type="date" name="from10" ngModel></td>
                  <td><input type="date" name="to10" ngModel></td>
                  <td><input type="file" name="Certificate" accept="file/*" ngModel></td>
                  <!-- <td><input type="file" name="fileupload" accept="file/*" name="file" ngModel></td>
                  <td><input type="file" name="fileupload" accept="file/*" name="file" ngModel></td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <button id="button"
            onclick="document.getElementById('exp').style.display='block',document.getElementById('ed').style.display='none'">Next</button>
            <button id="button" style="margin-left: 24px;"
            onclick="document.getElementById('add').style.display='block',document.getElementById('ed').style.display='none'">Previous</button>

        </div>

      </form>
      <form #userForm="ngForm" (ngSubmit)="submit(userForm.value)" (ngSubmit)="onSubmit()" #testForm="ngForm"
        ngNativeValidate>
        <div class="col-md-12" id="exp" style="display:none;background-color: white;">
          <label> Experience:</label>
          <button type="button" data-toggle="collapse" data-target="#demo1" style="margin-left: -1px;"><span
              class="glyphicon glyphicon-triangle-right" id="ex"></span>
          </button>
          <div id="demo1" class="collapse">
            <table   class="table table-striped" style="padding:-6px" id="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>company name</th>
                  <th>location</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Description</th>
                  <th>A1</th>
                 
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" name="Title1" ngModel></td>
                  <td><input type="text" name="cn1" ngModel></td>
                  <td><input type="text" name="location1" ngModel></td>
                  <td><input type="date" name="From1" ngModel></td>
                  <td><input type="date" name="To1" ngModel></td>
                  <td><input type="text" name="Description1" ngModel></td>
                  <td><input type="file" name="fileupload11" accept="file/*" name="file" ngModel></td>
                  
                </tr>
                <tr>
                  <td><input type="text" name="Title" ngModel></td>
                  <td><input type="text" name="cn" ngModel></td>
                  <td><input type="text" name="location" ngModel></td>
                  <td><input type="date" name="From" ngModel></td>
                  <td><input type="date" name="To" ngModel></td>
                  <td><input type="text" name="Description" ngModel></td>
                  <td><input type="file" name="fileupload1" accept="file/*" ngModel></td>
                  
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button id="button"
            onclick="document.getElementById('p').style.display='block',document.getElementById('exp').style.display='none'">Next</button>
          <button id="button" style="margin-left: 24px;"
            onclick="document.getElementById('ed').style.display='block',document.getElementById('exp').style.display='none'">Previous</button>

        </div>

      </form>
      <form #userForm="ngForm" (ngSubmit)="submit(userForm.value)" (ngSubmit)="onSubmit()" #testForm="ngForm"
        ngNativeValidate>
        <div  id="p" style="display: none">
        <div class="col-md-12" style="margin-left: 16px;">
          <label>Skill :</label><textarea rows="3" cols="80" class="textarea" name="Skill" ngModel>
                </textarea>
        </div>
        <div >
          <div class="col-md-6" style="margin-left: 16px;">
            <label>Password :</label> <input type="password" placeholder="password" name="password" id="p"
              ngModel><br />
            <font color="green" id="demo5"></font>
            <font color="red" id="demo6"></font>

          </div>
          <div class="col-md-6" id="dc1">
            <label>Confirm Password</label><input type="password" placeholder="confirm password" id="cp"
              name="confirmpassword" ngModel>
            <font color="green" id="demo3"></font>
            <font color="red" id="demo4"></font>
          </div>

          <button type="submit" id="button">signup</button>
          <button id="button" style="margin-left: 24px;"
          onclick="document.getElementById('exp').style.display='block',document.getElementById('p').style.display='none'">Previous</button>
        </div>
      </div>
      </form>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>

<!-- <form (ngSubmit)="onSubmit()" #testForm="ngForm" ngNativeValidate>
    <input type="text" id="test1" name="test1" [(ngModel)]="test" required>
    <input type="text" id="test2" name="test2" [(ngModel)]="test" [required]="true">
    <input type="text" id="test3" name="test3" [(ngModel)]="test" [attr.required]="true">
    <button type="submit">submit</button>
  </form> -->