<div class="container-fluid container-fluid1 ">
  <div class="row">
    <div class="col-sm-2 sidebarleft">
      <ul style="list-style-type:none;">
        
        <li id="sidebarleftOpt"><a (click)="changScreen(1)">Create project</a></li>
        <li id="sidebarleftOpt"><a  (click)="changScreen(2)">Display Project</a></li>
       
      </ul>
    </div>
    <div class="col-sm-7 mainContainer">
      <div class="container-fluid container-fluid">
        <div class="row">
          <div *ngIf="display">
              <div *ngFor="let item of tname">
                  <div class="col-sm-5 A">
                      <label> Project Id:{{item.StartDate}}</label>
                      <label> EMP Name:{{item.EndDate}}</label>
                      <label> Start time:{{item.countDays}}</label>
                      <label> End Time:{{item.leaveType}}</label>
                  </div>
                  
                </div>
          </div>
          

          <form  *ngIf="create" #userForm="ngForm" (ngSubmit)="submit(userForm.value)">
           
          <div class="col-sm-6"><label><b>Project Id</b></label> <select name="userName" ngModel>
            <option >Projectid</option>
            <option >1</option>
            <option >2</option>
            <option >3</option>
            <option >4</option>
           </select></div>
          <div class="col-sm-6"> <label>Employee Name</label> <select name="userName" ngModel>
            <option >Aditya</option>
            <option >Ravi</option>
            <option >Ram</option>
            <option >Joy</option>
            <option >Ansul</option>
           </select></div>
          <div class="col-sm-6"><label>Start Time</label> <input type="text" placeholder="Start time" name="passWord" ngModel /></div>
          <div class="col-sm-6"> <label>End Time</label><input type="text" placeholder="End time" name="passWord" ngModel /></div>
          <div class="col-sm-6"><label>Short Description</label> <input type="text" placeholder="Short Message" name="passWord" ngModel /></div>
          <div class="col-sm-6"> <label>Long Description</label><textarea  rows="1" cols="40" placeholder="Long Message" name="passWord" ngModel ></textarea></div>
          <div class="col-sm-6"> <label>Total Effort</label><input type="text" placeholder="Total Effort" name="passWord" ngModel /></div>
          <div class="col-sm-6"><label>Atachment</label>  <input type="file" name="pic" accept="image/*"></div>
        
          <button type="submit">Submit</button> 
          </form>
        </div>
      </div>
      <div>
      </div>
      <!-- <app-displayproject></app-displayproject> -->
    </div>
    <div class="col-sm-3 right-sidebar">
      Feed Updates
    </div>
  </div>
</div>