
<header class="container-fluid header">
  <!-- <div class="row">
    <div class="col-sm-3">
      <div class="col-sm-12">
        <img src="/assets/images/MantraLogo.jpg" alt="Italian Trulli">
      </div>
    </div>
    <div class="col-sm-6  col-sm-offset-1">
      <input id="input" type="search" placeholder="Search.." name="search">
      <button type="button">
            Search
        </button>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <span><img src="/assets/images/ravi.jpg" alt="Italian Trulli"></span>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 topBox">cndncjk</div>
    <div class="col-sm-6 midBoxA">cndncjk</div>
    <div class="col-sm-6 midBoxB">cndncjk</div>
    <div class="col-sm-12 bottomBox">cndncjk</div>

  </div>
</div> -->
<header class="container-fluid">
  <div class="row">
      <div class="col-sm-3">
          <div class="col-sm-12">
              <img src="/assets/images/MantraLogo.jpg" alt="Italian Trulli">
              <!-- <label>Mantravat Infotech LLp</label> -->
          </div>
      </div>
      <div class="col-sm-6  col-sm-offset-1">
          <input type="search" placeholder="Search.." name="search">
          <button type="button">
              <span  class="glyphicon glyphicon-search"></span>
        </button>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
          <!-- <label>ravindra lodhi</label> -->
          <span id="bellIcon" class="glyphicon glyphicon-bell"></span>
          <span><img  src="/assets/images/ravi.jpg" alt="Italian Trulli"></span>
      </div>
  </div>
</header>