.A{
    /* width: 200px; */
    background: white;
    /* margin-top: 20PX;
    padding-left: 50px;
    text-align: center;
    margin-left: 10px; */
}
ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }
  #d {
    margin-top:100px;
  }
  .container{
    width: 50%;
}
#map{
    height: 50vh;
    margin-bottom: 10px;
    display: none;
}

#locationList .card{
    padding: 10px;
}

#toast-container{
  top: 50%;
  bottom: unset;
}
.toast{
  background-color: rgba(0,0,0,.8);
}
.btn i{
  font-size: 1rem;
  margin-right: 2px;
}

select{
  
  padding: .8rem 0 1.6rem 0;
  resize: none;
  min-height: 3rem;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
textarea {
  
  padding: .8rem 0 1.6rem 0;
  resize: none;
  min-height: 3rem;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input{
  overflow-y: hidden;
  padding: .8rem 0 1.6rem 0;
  resize: none;
  min-height: 3rem;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
button {
   
  background-color: rgba(65, 19, 230, 0.96);
  height: 31px;;
  width: 69px;
  /* margin-left: 532px; */
  border-radius: 12px;
  margin-left:600px;
}


@media only screen and (max-width: 768px){
  .container{
    width: 100%;
      max-width: 800px;
  }
  button {
    margin-left: 227px;
  }
 /* #billingAddress
  {
    background-color: white;
    margin-top: 46px;
    width: 229% important;
    margin-left: -113px important;
  } */
}