ul[_ngcontent-c3][_ngcontent-c3] {
  background: white;
    margin-left: 50px;
    width: 186px;
    padding-left: 40px;
    margin-top: 4px;
    height: 180px;
    padding-top: 13px;
}
#head1{
  background: white;
  width: 867px;
  margin-left: 277px;
  margin-top: -191px;
}
#Feed{
  height: 500px;
  margin-top: -172px;
  background: white;
  width: 280px;
  margin-left: 1160px;
}