<div class="container-fluid container-fluid1 ">
    <div class="row">
        <div class="col-sm-2 sidebarleft" id="myTopnav" style="margin-top:44px;">
            <ul style="list-style-type:none;">
                <li id="sidebarleftOpt"><a routerLink="/dashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Dashbord</a></li>
                <li id="sidebarleftOpt"><a routerLink="/create-task">
                        <span class="glyphicon glyphicon-magnet"></span>
                        change task</a></li>
                <li id="sidebarleftOpt"><a routerLink="/task">
                        <span class="glyphicon glyphicon-magnet"></span>
                        create task</a></li>
                <li id="sidebarleftOpt"><a routerLink="/displaytask">
                        <span class="glyphicon glyphicon-credit-card"></span>
                        Display task</a></li>
                <li id="sidebarleftOpt"><a routerLink="/leave">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Leave</a></li>
                <li id="sidebarleftOpt"><a routerLink="/timesheet">
                        <span class="glyphicon glyphicon-time"></span>
                        Time Sheet</a></li>
                <li id="sidebarleftOpt"><a (click)="onChang()">
                        <span class="glyphicon glyphicon-time"></span>
                        Singup</a></li>
            </ul>
        </div>



    </div>

    <div class="row">
        <div class="col-sm-12 leave" style="text-align :center" id="head1">
            <h4>Display task</h4>
        </div>
    </div>

    <div class="col-sm-3 right-sidebar" id="Feed">
        Feed Updates

    </div>
</div>